<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('#button01').click(function() {
			$.ajax({
				type : 'GET',
				url : 'http://localhost:8080/search',
				dataType : 'html',
				success : function(data) {
					$('#sample01').append(data);
				},
				error : function() {
					alert('問題がありました。');
				}
			});
		});
	});
</script>
</head>
<body>
	<form>
		検索条件1：<input type="text" name="condition1"><br />
		検索条件2：<input type="text" name="condition2"><br />
		検索条件3：<input type="text" name="condition3"><br />
		<br />
		<input type="button" id="button01" value="検索" />
		<div id="sample01">
		</div>
	</form>
</body>
</html>